.vBoxBackground {
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: cover;
}

.hBoxBackground {
    -fx-background-color: #1D2840;
}

.homeButton {
    -fx-cursor: hand;
}

.button {
    -fx-background-color: #F22771;
    -fx-background-radius: 15;
    -fx-font: 28px Impact;
}

.button:hover {
    -fx-background-color: #F21D56;
    -fx-background-radius: 15;
    -fx-font: 28px Impact;
}

.button:pressed {
    -fx-background-color: #730237;
    -fx-background-radius: 15;
    -fx-font: 28px Impact;
}

.arrow {
    -fx-image: url("../images/arrows/back.png");
}

.arrow:hover {
    -fx-image: url("../images/arrows/hoverBack.png");
}

.arrow:pressed {
    -fx-image: url("../images/arrows/pressedBack.png");
}

.deArrow {
    -fx-image: url("../images/arrows/deBack.png");
}

.edtFields {
    -fx-background-color: #273459;
    -fx-text-fill: #F22771;
    -fx-font: 20px Impact;
    -fx-alignment: left;
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.label {
    -fx-text-fill: #1744BF;
    -fx-font: 28px Impact;
    -fx-alignment: center;
}

.aboutUs {
    -fx-text-fill: #730237;
    -fx-font: 24px Impact;
    -fx-alignment: center;
}
